@model QuestRooms.UI.Controllers.ViewInformation
@{
    ViewBag.Title = "Index";
}
<div class="row">

    @foreach (var i in Model.Rooms)
    {
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 roomCard">
            <div class="card text-white">
                <div class="card-header headerCard">
                    <div class="card-title  textCard"> <strong>@i.Name</strong> </div>
                </div>
                <img class="card-img-top imagineCard" src="~/Content/Images/@i.Photos.ElementAt(0).Name" />
                <div class="card-body bodyCard">
                    <div class="card-text">
                        <span>
                            <i class="fas fa-user"></i>
                            @i.MinPlayers-@i.MaxPlayers Partisipants
                        </span>
                        <br />
                        <span>
                            <i class="far fa-star"></i>
                            @i.Rating/10
                        </span>
                        <br />
                        <span>
                            <i class="far fa-surprise"></i>
                            @i.FearLvl/10
                        </span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn btn-primary w-100" onclick="location.href='@Url.Action("GetRoomInfo","Home", new { RoomId = i.QuestRoomId})'">Information</div>
                </div>
            </div>
        </div>
    }



</div>


